<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>
    <head>
        <title>Quick Hits</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
        <meta name="description" content="Elegant Accordion with jQuery and CSS3" />
        <meta name="keywords" content="jquery, slide out,accordion, css3, fadeout, fadein, elegant, fancy, box shadow"/>
        <link rel="stylesheet" href="css/style.css" type="text/css" media="screen"/>
        <style>
            *{
                margin:0;
                padding:0;
            }
            body{
                font-family:Arial;
                background:#fff url(pattern.png) repeat top left;
            }
            a{
                color:#444;
            }
            a:hover{
                color:#999;
            }
            .title{
                width:500px;
                height:152px;
                position:absolute;
                top:50px;
                left:50px;
                background:transparent url(<%= asset_path 'Logo.png' %>) no-repeat top left;
            }
            a.back{
                background:transparent url(back.png) no-repeat top left;
                position:fixed;
                width:150px;
                height:27px;
                outline:none;
                bottom:0px;
                left:0px;
            }
            #content{
                margin:0 auto;
            }
            .reference{
                clear:both;
                top:230px;
                left:10px;
                position:absolute;
                text-align:right;
                width:500px;
                padding:20px;
                background-color:#fff;
                -moz-box-shadow:1px 3px 15px #ddd;
                -webkit-box-shadow:1px 3px 15px #ddd;
                box-shadow:1px 3px 15px #ddd;
            }
			.navigation{
                top:500px;
                right:10px;
                position:absolute;
                text-align:right;
                width:400px;
                padding:20px;
                background-color:#fff;
                -moz-box-shadow:1px 3px 15px #ddd;
                -webkit-box-shadow:1px 3px 15px #ddd;
                box-shadow:1px 3px 15px #ddd;								
            }
            .reference p a{
                text-transform:uppercase;
                text-shadow:1px 1px 1px #fff;
                color:#666;
                text-decoration:none;
                font-size:10px;
            }
            .reference p a:hover{
                color:#333;
            }
			.navigation li{
				float: right;
				list-style: none;
				padding: 0 23px 0 23px;
			}

        </style>
    </head>

    <body>
        <div id="content">
            <a class="back" href="http://tympanus.net/codrops/2010/04/26/elegant-accordion-with-jquery-and-css3/"></a>
            <div class="title"></div>
            <div class="reference">
                
            </div>
			<div class="navigation">
                <ul style="list-style:none; float:right; display: block;">
					<li><a href="#">Contacts</a></li>
					<li><a href="#">Projects</a></li>
					<li><a href="#">About</a></li>
					<li><a href="#">Home</a></li>
				</ul>
            </div>


            <ul class="accordion" id="accordion">
                <li class="bg1">
                    <div class="heading">Lance Zaldua</div>
                    <div class="bgDescription"></div>
                    <div class="description">
                        <h3>Lance Patrick C. Zaldua</h3>
                        <ul>
							<ol>Expertise: PHP, JAVA, Ruby</ol>
						</ul>
                        <a href="#">more &rarr;</a>
                    </div>
                </li>
                <li class="bg2">
                    <div class="heading">Mark Torrano</div>
                    <div class="bgDescription"></div>
                    <div class="description">
                        <h3>Mark Jester A. Torrano</h3>
                        <ul>
							<ol>Expertise: PHP, JAVA, Ruby</ol>
						</ul>
                        <a href="#">more &rarr;</a>
                    </div>

                </li>
                <li class="bg3">
                    <div class="heading">Luis <br/> Robles</div>
                    <div class="bgDescription"></div>
                    <div class="description">
                        <h3>Cesario Luis P. Robles Jr.</h3>
                        <ul>
							<ol>Expertise: PHP, JAVA, Ruby</ol>
						</ul>
                        <a href="#">more &rarr;</a>
                    </div>

                </li>
                <li class="bg4 bleft">
                    <div class="heading">Axel <br/>Felipe</div>
                    <div class="bgDescription"></div>
                    <div class="description">
                        <h3>Axel Mikael M. Felipe</h3>
                        <ul>
							<ol>Expertise: PHP, JAVA, Ruby</ol>
						</ul>
                        <a href="#">more &rarr;</a>
                    </div>

                </li>
				<li class="bg5 bleft">
                    <div class="heading">Mark Chavez</div>
                    <div class="bgDescription"></div>
                    <div class="description">
                        <h3>Mark Joel Chavez</h3>
                        <ul>
							<ol>Expertise: PHP, JAVA, Ruby</ol>
						</ul>
                        <a href="#">more &rarr;</a>
                    </div>

                </li>
            </ul>
        </div>

        <!-- The JavaScript -->
        <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
        <script type="text/javascript">
            $(function() {
                $('#accordion > li').hover(
                    function () {
                        var $this = $(this);
                        $this.stop().animate({'width':'480px'},500);
                        $('.heading',$this).stop(true,true).fadeOut();
                        $('.bgDescription',$this).stop(true,true).slideDown(500);
                        $('.description',$this).stop(true,true).fadeIn();
                    },
                    function () {
                        var $this = $(this);
                        $this.stop().animate({'width':'85px'},1000);
                        $('.heading',$this).stop(true,true).fadeIn();
                        $('.description',$this).stop(true,true).fadeOut(500);
                        $('.bgDescription',$this).stop(true,true).slideUp(700);
                    }
                );
            });
        </script>
    </body>
</html>